html,body
{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-size: 10px;
	display: table;
	overflow: hidden;
}
input::-webkit-input-placeholder { color:inherit; }
input::-moz-placeholder { color:inherit; } 
input:-ms-input-placeholder { color:inherit; }
input:-moz-placeholder { color:inherit; }
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.styled-text-area
{
	outline: none;
	resize:none;
	border: none;
	border-bottom: 1px #fff solid;
}
.rtl,.arabic
{
	direction: rtl;
}
.ltr,.english
{
	direction: ltr;
}
.full-height
{
	height: 100%;
}
#header
{
	position: relative;
	height: 60px;
	display: table-row;
	background-color: #333;
	color: #eeeeee;

}
#logo
{
	float: left;
	height: 100%;
	display: table;
}
#header-tools
{
	height: 100%;
    font-size: 3rem;
    display: table;
}
#header-tools .tool-icon,#header-tools .drop-icon
{
	box-sizing:border-box;
	  padding: 15px 10px 15px 10px;
	display: inline-block;
	height: 100%;	
}
#header-tools .tool-icon
{
	float: right;
}
#header-tools .drop-icon
{
	color:#eee;
}
#header-tools i:before,
{
	
	display: table-cell;
	vertical-align: middle;
}
#create-new-btn
{
	position: relative;
	height: 100%;	
	color: #fff;
	font-family: roboto;
	text-align: center;
	font-size: 1.6rem;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	float: right;
	padding: 15px;
}
#create-new-btn ul
{	
	z-index: 2;
}
#create-new-btn ul li
{	
	color: #eee;
}

.create-new-page
{
	background-color: #d32f2f;
	color: #fff;	
}
.create-new-page:before
{
	content: "";
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;  
	opacity: .1; 
	z-index: -1;	
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.create-new-page h1
{
	font-size: 3rem;	
}
.create-new-page .switch-members-list
{
	background-color: transparent;
}
.create-new-page .switch-members-list a,#member-name + i
{	
	color: #fff;
}
.create-new-page .indicator
{
	background-color: rgba(255,255,255,0.4);
}
#create-project:before
{
	background-image: url(../img/projects.svg);
}
.create-new-page input,.create-new-page label,.create-new-page .object-description,.create-new-page ul a,.contact-list .contact-member,.submit-object
{
	font-size: 1.5rem;
}
#create-project #project-description
{
	height: 250px;
}
.contact-list
{
	height: 300px;
}
.contact-list .contact-member
{
	height: 75px;
	font-family: roboto;	
	display: table;
	padding: 10px;
}
.contact-member .contact-profile-pic,.contact-member .contact-info
{
	position: relative;
	display: inline-block;
	box-sizing:border-box;
	padding: 10px;
}
.contact-member .contact-profile-pic,.contact-member .contact-info
{
	display: table-cell;
	vertical-align: middle;
}
.contact-member .contact-profile-pic
{
	border-radius: 100%;
	border: 4px solid rgba(255,255,255,0.6);
	width: 75px;
	height: 75px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.contact-member .contact-role
{
	font-style: italic;	
}
#add-meeting-modules .meeting-module
{
	padding: 5px;
	display: inline-block;
	text-align: center;	
}
#add-meeting-modules .meeting-module p
{
	font-size: 1.5rem;
	text-align: center;
}
#add-meeting-modules .meeting-module i
{
	font-size: 2.5rem;
}
.submit-object
{
	position: relative;
	margin: 0 auto;
	width: 200px;
	display: block;	
	background-color: #333;
	color: #fff;
}
.submit-object:hover
{
	background-color: #444;
}

#create-document .document-upload-service-icon
{
	min-height: 150px;
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	position: relative;
	cursor: pointer;

}
#create-document .document-upload-service p
{
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: roboto;
}
#add-task .select-wrapper
{
	top:10px;
}
#add-task .select-wrapper *
{
	color: #fff;
	font-size: 1.5rem;
}
#add-task  .select-dropdown
{
	border-bottom: 1px #fff solid;	
}
.hidden-anchor
{
	display: none;
}

#navigation-bar
{
	display: table-row;
	width: 100%;
	height: 100px;
	position: relative;
	background-color:#e0e0e0;	

}
#nav-wrap
{
	position: relative;
	width: auto;
	height: 100%;
	display: table;
	margin: 0 auto;
	text-align: center;
}
.nav-main-item:not(.hidden-anchor)
{
	display: inline-block;
	position: relative;
	width: auto;
	height: 100%;
	padding: 15px;
	float: left;
	color: #333;
	cursor: pointer;
}

.nav-main-item i
{
	position: relative;
    display: block;  
    font-size: 3.5rem;
    vertical-align: middle;
    display: table;
	text-align: center;
	margin: 0 auto;

}
.nav-main-item p
{
	font-family: roboto;
	font-size: 2rem;
	margin: 5px;
}

.nav-main-item.main-item-active
{
	border-bottom: 5px solid #d32f2f;
	color: #d32f2f;
}
#content
{
	  
	  height: 100%;
	  width: 100%;	 
	  background-color: #424242;
	  z-index: 1;
	  border-top: 3px solid #D32F2F;

}
#content .pt-page:nth-child(even):not(.create-new-page)
{
	background-color: #eeeeee;
}
#content .pt-page:nth-child(odd):not(.create-new-page)
{
	background-color: #f5f5f5;
}
.main-page
{
	width: 100%;
	height: 100%;
	box-sizing:border-box;

}
#profile-panel
{
	position: relative;		
	background-color: #333333;
}
#profile-pic,#profile-name,#profile-role
{
	position: relative;
	font-family: roboto;
	color: #eee;

}
#profile-pic
{
	
	height: 100px;
	width: 100px;
	margin: 25px auto;
	border-radius: 100%;
	border: 2px solid #D32F2F;	
	background-image: url(../img/profile.jpg);
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}
#profile-name
{
	height: auto;
	text-align: center;
	font-size: 2rem;

}
#profile-role
{
	height: auto;
	text-align: center;
	font-size: 1.5rem;
	font-style:italic;

}
#calendar
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: auto;
	color: #eee;
	padding: 10px;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 1.2rem;
}