html,body
{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-size: 10px;
	display: table;
	overflow: hidden;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rtl,.arabic
{
	direction: rtl;
}
.ltr,.english
{
	direction: ltr;
}
.full-height
{
	height: 100%;
}
#header
{
	position: relative;
	height: 60px;
	display: table-row;
	background-color: #333;
	color: #eeeeee;

}
#logo
{
	float: left;
	height: 100%;
	display: table;
}
#header-tools
{
	height: 100%;
    font-size: 3em;
    display: table;
}
#header-tools .tool-icon,#header-tools .drop-icon
{
	box-sizing:border-box;
	  padding: 15px 10px 15px 10px;
	display: inline-block;
	height: 100%;	
}
#header-tools .tool-icon
{
	float: right;
}
#header-tools .drop-icon
{
	color:#eee;
}
#header-tools i:before,
{
	
	display: table-cell;
	vertical-align: middle;
}
#create-new-btn
{
	position: relative;
	height: 100%;	
	color: #fff;
	font-family: roboto;
	text-align: center;
	font-size: 0.6em;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	float: right;
	padding: 15px;
}
#create-new-btn ul
{	
	z-index: 2;
}
#create-new-btn ul li
{	
	color: #eee;
}

.create-new-page
{
	background-color: #d32f2f;
	color: #fff;	
}
#create-new-btn-anchor
{
	display: none;
}
.creatable-item-slot
{

}
#navigation-bar
{
	display: table-row;
	width: 100%;
	height: 100px;
	position: relative;
	background-color:#e0e0e0;	

}
#nav-wrap
{
	position: relative;
	width: auto;
	height: 100%;
	display: table;
	margin: 0 auto;
	text-align: center;
}
.nav-main-item
{
	display: inline-block;
	position: relative;
	width: auto;
	height: 100%;
	padding: 15px;
	float: left;
	color: #333;
	cursor: pointer;
	border-bottom: 0px;
}

.nav-main-item i
{
	position: relative;
    display: block;  
    font-size: 3.5em;
    vertical-align: middle;
    display: table;
	text-align: center;
	margin: 0 auto;

}
.nav-main-item p
{
	font-family: roboto;
	font-size: 2em;
	margin: 5px;
}

.main-item-active
{
	border-bottom: 5px solid #d32f2f;
	color: #d32f2f;
}
#content
{
	  
	  height: 100%;
	  width: 100%;	 
	  background-color: #424242;
	  z-index: 1;
	  border-top: 3px solid #D32F2F;

}
#content .pt-page:nth-child(even):not(.create-new-page)
{
	background-color: #eeeeee;
}
#content .pt-page:nth-child(odd):not(.create-new-page)
{
	background-color: #f5f5f5;
}
.main-page
{
	width: 100%;
	height: 100%;
	box-sizing:border-box;

}
#profile-panel
{
	position: relative;		
	background-color: #333333;
}
#profile-pic,#profile-name,#profile-role
{
	position: relative;
	font-family: roboto;
	color: #eee;

}
#profile-pic
{
	
	height: 100px;
	width: 100px;
	margin: 25px auto;
	border-radius: 100%;
	border: 2px solid #D32F2F;	
	background-image: url(../img/profile.jpg);
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}
#profile-name
{
	height: auto;
	text-align: center;
	font-size: 2em;

}
#profile-role
{
	height: auto;
	text-align: center;
	font-size: 1.5em;
	font-style:italic;

}
#calendar
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: auto;
	color: #eee;
	padding: 10px;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 1.2em;
}