[project]
	description = meeting_focus
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/M.T (justgeek)
[access "refs/for/refs/*"]
	read = group user/M.T (justgeek)
	push = group user/M.T (justgeek)
	label-Code-Review = -2..+2 group user/M.T (justgeek)
	label-Verified = -1..+1 group user/M.T (justgeek)
	rebase = group user/M.T (justgeek)
	removeReviewer = group user/M.T (justgeek)
	submit = group user/M.T (justgeek)
[access "refs/heads/*"]
	read = group user/M.T (justgeek)
	create = group user/M.T (justgeek)
	push = +force group user/M.T (justgeek)
	pushMerge = group user/M.T (justgeek)
[access "refs/tags/*"]
	push = +force group user/M.T (justgeek)
	pushTag = group user/M.T (justgeek)
	pushSignedTag = group user/M.T (justgeek)
