
.icon-power-1:before { content: '\e800'; } /* '' */
.icon-sliders:before { content: '\e801'; } /* '' */
.icon-rss:before { content: '\e802'; } /* '' */
.icon-documents:before { content: '\e803'; } /* '' */
.icon-tasks:before { content: '\e804'; } /* '' */
.icon-projects:before { content: '\e805'; } /* '' */
.icon-members:before { content: '\e806'; } /* '' */
.icon-meetings:before { content: '\e807'; } /* '' */
.icon-audience1:before { content: '\e808'; } /* '' */
.icon-plus-squared-alt:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */